<ion-header [translucent]="true" color ="secondary">
  <ion-toolbar color="secondary">
    <ion-title class="ion-text-center" color="primary">
      La Comanda
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary" [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <ion-button color="primary" expand="block" (click)="llenarUsuario('dueño')">Dueño</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <ion-button color="primary" expand="block" (click)="llenarUsuario('cocinero')">Cocinero</ion-button>
      </ion-col>
      <ion-col col-6>
        <ion-button color="primary" expand="block" (click)="llenarUsuario('cliente')">Cliente</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <ion-button color="primary" expand="block" (click)="llenarUsuario('mozo')">Mozo</ion-button>
      </ion-col>
    
    </ion-row>
  </ion-grid>
  <div class="ion-margin ion-padding">
    <form [formGroup]="login" (ngSubmit)="logForm()">
      <ion-item color="primary">
        <ion-input placeholder="Ingrese su correo" type="text" formControlName="correo"></ion-input>
      </ion-item>
      <ion-item color="primary">
        <ion-input placeholdeR="Ingrese su clave" type="password" formControlName="clave"></ion-input>
      </ion-item>
    <ion-button color="primary" size="large" type="submit" expand="block" [disabled]="!login.valid">Ingresar</ion-button>
    </form>
  </div>
  <img class="servir" src="assets/images/servir.png" style="height: 200px; width: 200px; margin-left: 25vw;">

</ion-content>