<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Detalle del pedido</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="comidas">
    <ion-item  *ngFor="let comida of comidas.platos">
      <ion-label class="capitalize">{{comida.nombre}}</ion-label>
      <ion-label class="capitalize">x{{comida.cantidad}}</ion-label>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="bebidas">
    <ion-item  *ngFor="let bebida of bebidas.platos">
      <ion-label class="capitalize">{{bebida.nombre}}</ion-label>
      <ion-label class="capitalize">x{{bebida.cantidad}}</ion-label>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="importeTotal">
    <ion-item >
      <ion-label class="capitalize">Total: {{importeTotal}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
