<ion-header [translucent]="true" color="secondary">
  <ion-toolbar color="secondary">
    <ion-title class="ion-text-center" color="primary">
      Alta de empleado
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary" [fullscreen]="true">

  <div class="ion-margin ion-padding">
    <form [formGroup]="altaEmpleado" (ngSubmit)="guardar()">

      <ion-item>
        <ion-label color="primary"> Tipo de empleado</ion-label>
        <ion-select color="primary"  formControlName="tipo">
          <ion-select-option value="cocinero" color="primary">Cocinero</ion-select-option>
          <ion-select-option value="mozo" color="primary">Mozo</ion-select-option>
          <ion-select-option value="bartender" color="primary">Bar tender</ion-select-option>

        </ion-select>
      </ion-item>
      <ion-item color="primary">
        <ion-input placeholder="Ingrese el email" type="text"  formControlName="email"></ion-input>
      </ion-item>
      <ion-item color="primary">
        <ion-input placeholder="Ingrese la clave" type="password"  formControlName="clave"></ion-input>
      </ion-item>
      <ion-item color="primary">
        <ion-input placeholder="Ingrese el nombre" type="text"  formControlName="nombre"></ion-input>
      </ion-item>
      <ion-item color="primary">
        <ion-input placeholdeR="Ingrese el apellido" type="text"  formControlName="apellido"></ion-input>
      </ion-item>
      <ion-item color="primary">
        <ion-input placeholdeR="Ingrese el DNI" type="text"  formControlName="dni"></ion-input>
      </ion-item>
      <ion-item color="primary">
        <ion-input placeholdeR="Ingrese el CUIL" type="text"  formControlName="cuil"></ion-input>
      </ion-item>
      <ion-button color="primary" size="large" expand="block">
        <ion-icon name="camera-outline"></ion-icon>
      </ion-button>
      <ion-button color="primary" size="large" expand="block">
        <ion-icon name="qr-code-outline"></ion-icon>
      </ion-button>

      <ion-button color="primary" size="large" expand="block"  type="submit">Guardar</ion-button>

    </form>
  </div>

</ion-content>