.imagen{
    width: 100vw;
    height: 50vh;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
}

ion-button{
    height: 20vh;
}

.clase{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    height: 200px; width: 200px;
}