<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Bienvenido {{info.perfil}}</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon name="menu"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-menu side="start" contentId="main">
    <ion-content >
      <ion-list>
        <ion-item (click)="irA('alta-supervisor')" *ngIf="info.perfil=='supervisor'">
          <ion-label>Dar de alta supervisor</ion-label>
        </ion-item>
        <ion-item (click)="irA('alta-empleado')" *ngIf="info.perfil=='supervisor'">
          <ion-label>Dar de alta empleado</ion-label>
        </ion-item>
        <ion-item (click)="irA('alta-cliente')" *ngIf="info.tipo == 'mozo'">
          <ion-label>Dar de alta cliente</ion-label>
        </ion-item>
        <ion-item (click)="salir()">
          <ion-label>Salir</ion-label>
        </ion-item>
        <ion-item (click)="prueba()">
          <ion-label>Prueba</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <div id="main" *ngIf="info.perfil =='cliente' && platos">
    <ion-card *ngFor="let item of platos" color="primary">
      <ion-card-header>
        <ion-card-title>{{item.nombre}}</ion-card-title>
        <ion-slides>
          <ion-slide *ngFor="let img of item.fotos">
            <img [src]="img" class="imagen"/>
          </ion-slide>
        </ion-slides>
        <ion-card-subtitle>{{item.descripcion}}</ion-card-subtitle>
        <ion-label>
          Precio: ${{item.importe}}
        </ion-label>
      </ion-card-header>

    </ion-card>
  </div>
  <div  id="main"  *ngIf="info.perfil !='cliente'">
    <ion-button (click)="prueba()">Prueba</ion-button>
  </div>
</ion-content>