<ion-header>
  <ion-toolbar>
    <ion-title>principal {{perfil}}</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon name="menu"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-menu side="start" contentId="main">
    <ion-content>
      <ion-list>
        <ion-item (click)="irA('alta-supervisor')">
          <ion-label>Dar de alta empleado</ion-label>
        </ion-item>
        <ion-item (click)="irA('alta-empleado')">
          <ion-label>Dar de alta supervisor</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <div id="main">

  </div>
</ion-content>